/bin

/obj

*.suo

*.user

/StormySpaces/StormySpaces/packages/

/StormySpaces/PresentationLayer/StormySpaces.Web/obj

/StormySpaces/PresentationLayer/StormySpaces.Web/bin

/StormySpaces/StormySpaces/*.suo

/StormySpaces/*.user

