@using System.Reflection
@using System.Resources
@{
    ViewBag.Title = "Index";
}
<div class="container-fluid">
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a href="#">LOGO</a></li>
                <li><a href="#">Computer</a></li>
                <li><a href="#">Tablet</a></li>
                <li><a href="#">Mobile</a></li>
            </ul>
        </div>
    </nav>
    <div class="row background-picture">
        <h2>Stormy Spaces</h2>
        <h1>Where creativity rains and pours. </h1>
    </div>
    <div class="row" style="height: 52px;">
        <nav class="ignore-rounded-edges navbar navbar-default navbar-inverse" role="navigation">
            <div class="container-fluid">
                <div class="row">
                    <ul class="nav navbar-nav col-md-12 ">
                        <li class="col-md-1 col-md-offset-4"><a href="#" class="nav-links">Home</a></li>
                        <li class="col-md-1 "><a href="#" class="nav-links">Gallery</a></li>
                        <li class="col-md-1 "><a href="#" class="nav-links">About</a></li>
                        <li class="col-md-1 "><a href="#" class="nav-links">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="row home-theme">
        <div class="home-main">
            <div class="col-sm-3">

            </div>
            <div data-ng-repeat="panel in vm.Panels">
                <div class="col-sm-3">
                    <div class="panel panel-default home-panel">
                        <div class="panel-body">
                            <span>{{panel.panelHeader}}</span>
                            {{panel.panelBody}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row gallery-theme">
    </div>
    <div class="row" style="height: 300px;"></div>
    <footer>
        Hello
    </footer>
</div>
